<!-- <h2>Basic Routing Tutorials</h2> -->




<style>
  /* Style for the navbar */
  .navbar {
    background-color: black;
    overflow: hidden;
  }

  /* Style for the navbar links */
  .navbar a {
    float: left;
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  /* Style for the active link */
  .navbar a.active {
    background-color: white;
    color: black;
  }
</style>

<!-- HTML code for the navbar -->
<div class="navbar">
  <a class="nav-link" routerLink=""><b>{{navbar_title}}</b></a>
  <a class="nav-link" routerLink="">Home</a>
  <a class="nav-link" routerLink="about">About</a>
  <a class="nav-link" routerLink="user">Contact</a>
  
</div>


<router-outlet></router-outlet>